html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div, fieldset,iframe {
    margin:0px !important;
    padding: 0px !important;
    border: none;
    outline: none;
    list-style-type: none;
    font-family: tahoma;
    font-size: 14;
}

#abas{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 20px;
    padding-top: 1px;
    width: calc(100% - 150px);
    float:left;
}

#abaScrollAnt{
    margin-left: 10px;
}

.navScroll{
    position: relative;
    right:0px;
    width: 15px;
    align-content: center;
}

#nav{
    margin-top: -4;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}    

.aba{
    border: solid 1px #D9D9D9;
    padding-top: -1px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    background: #F0F0F0;
    margin: 0px;
    margin-right: -5px;
    cursor: pointer;
}

.abaSelecionada{
    background: #FFFFFF;
    border-bottom: solid 1px #FFFFFF;

}

#telas{
    border: solid 1px #D9D9D9;
    width: calc(100% - 150px);
    margin-left: 0px;
    margin-right: 0px;
    height: calc(100vh - 144px);
    float: left;
    overflow: auto;
    z-index: -1;
    margin-top: -1;
}

/* width */
.telas::-webkit-scrollbar, .cmbOverflowDados::-webkit-scrollbar, .ajuOverflowDados::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  .telas::-webkit-scrollbar-track, .cmbOverflowDados::-webkit-scrollbar-track, .ajuOverflowDados::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .telas::-webkit-scrollbar-thumb, .cmbOverflowDados::-webkit-scrollbar-thumb, .ajuOverflowDados::-webkit-scrollbar-thumb{
    background: #5F6368; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .telas::-webkit-scrollbar-thumb:hover, .cmbOverflowDados::-webkit-scrollbar-thumb:hover, .ajuOverflowDados::-webkit-scrollbar-thumb:hover{
    background: #202124; 
  }


.tela{
    width: 100%;  
    height: 100%;
    display: none!important;
}

.telaSelecionada{
    display: block!important;
}

.iframeTela{
    width: calc(100% - 21px);
    height: calc(100% - 20px);
    background: #FFFFFF;
    padding: 10px;
    min-width: 735PX;
}

#Usuario{
    position: absolute;
    bottom: 8px;
    right: 0px;
    width: 145px;
    border-top: solid 1px #D9D9D9;
    background: #F0F0F0;
}




.labelDesc{
    font-size: 11px;
    font-weight: bold;
}

.labelRes{
    font-size: 11px;
}

#filtros{
    margin-left: 150px;
}

.popupBackground{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #8282825e;
}

.iframePopup, .PopupBuscaLoading {
    background-color: white;
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    border: solid 1px #447C4B;
}

.loadingBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 99999999;
}

.iframeLoading {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: none;
}

select[readonly], select[disabled], select[readonly=""] {
    border: 1px solid #7b7b7b!important;
    color: #000000!important;
}

h1{
    margin: 0;
}

#aNomCli{
    text-transform: uppercase;
}


.container{
    display: flex;
    justify-content:center;
}

.card{
    width: 300px;
    height: 500px;
    border-radius: 100px;
    background-color: #202020;
}